.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .main {
    width: 100%;
  }
}
